<h1>Lista 1</h1>

{{#if existe}}
  <ul>
    {{#each usuarios}}
      <li class={{this.estilo}}>Nombre: {{this.nombre}}, edad: {{this.edad}}</li>
    {{/each}}
  </ul>
{{/if}}

<ul>
  <li>Usuario 1</li>
  <li>Usuario 2</li>
</ul>