<div>
  <h3>Formulario </h3>
  <form action="/" method="POST">
    Nombre <input  type="text" name="nombre" >
    Apellido <input type="text" name="apellido">
    Edad <input type="number" min="0" name="edad">
    <button type="submit">Enviar</button>
  </form>
</div>